@mixin align-column($gap) {
	display: flex;
	flex-direction: column;
	gap: $gap;
}

@mixin align-center {
	display: grid;
	place-content: center;
}

@mixin hover {
	&:hover {
		@media (hover: hover) {
			@content;
		}
	}
}

@mixin mq-phone {
	@media (max-width: 768px) {
		@content;
	}
}
